.weekDays-selector input {
  display: none!important;
}
body{
  margin: 0;
  padding: 0;
  font-family: Helvetica Sana Arial sans-serif;
}
.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}
.weekDays-selector {
  display: inline-block;
  vertical-align: text-top;
  color: rgba(0, 0, 0, 0.54);
}
.medName{
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #2AD705;
  padding: 15px;
  width: 200px;
  height: 15px;
  box-sizing: border-box;
  margin: 0 10px;
}

.header {
  height: 40px;
  width: 100%;
  background-color: #2AD705;
  margin: 0 0 10px 0;
  line-height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 20px;
}
label{
  font-size: 20px;
}
.Submit {
  background-color: #2AD705;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #2AD705;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 10px;
  vertical-align: bottom;
  font-size: 14px;
}
.med-list-items{
  margin: 30px 0;
  padding: 0;
}
.med-list-item{
  list-style: none;
  padding: 15px;
  margin: 0 0 8px 0;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #3f51b5;
  color: #ffffff;
  text-transform: capitalize;
}
.med-list-days{
  background-color: green;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 15px;
  line-height: 30px;
  font-weight: bolder;
}
